body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
  }
  
  /* This is necessary to contain the size of the graph */
  /* Without the graph being contained, 
  it will take up all available space on teh page */
  .wrapper {
    max-width: 800px;
    margin: 50px auto;
  }
  
  h1 {
    font-weight: 200;
    font-size: 3em;
    margin: 0 0 0.1em 0;
  }
  
  h2 {
    font-weight: 200;
    font-size: 0.9em;
    margin: 0 0 50px;
    color: #999;
  }
  
  a {
    margin-top: 50px;
    display: block;
    color: #3e95cd;
  }
  